footer{
    height: 100px;
    background: rgb(47, 49, 47);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

footer p{
    margin: 8px 0px;
}